.App {
  text-align: center;
  
}

.d1 {
  background-color: #116315;
  font-style: italic;
  color : white;
}
 
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #A8FF78; */
  min-height: 10hv;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: black;
}

/* @media(min-width:650px)
{
#allItems{
        display: flex;
        justify-content: center;
    }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
