* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Navbar .allItems {
    width: 100%;
    background-color: #7fb349;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar .imgh {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar .imgh h5 {
    color: white;
}

.Navbar .logoImg {
    width: 50px;
    display: flex;
    margin-left: 10px;
}



.Navbar .pagesItemsUl {
    display: flex;
    justify-content: center;
}

.Navbar .pagesItemsUl li {
    list-style: none;
    margin-right: 10px;
}

.Navbar .pagesItemsUl li a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.Navbar .mainHeader {

    background-color: white;
    height: 110px;
    display: flex;
    align-items: center;
}

.Navbar .mainHeader img {
    margin-top: 10px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

.Navbar .mainHeader p {
    font-family: cursive;
    color: #7fb349;
    margin-left: 100px;
    font-size: x-large;


}

/* .Navbar .pagesItemsUl li :last-child{
    align-self: flex-end;
} */