.Appi {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}

.Appi .cards {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
  padding: 5%;
}

.Appi .name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.Appi .titlelike {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.theideas .uls {
  border: groove;
  padding: 6px;
  border-radius: 15px;
}


.theideas li {
  list-style: none;
}


.theideas .buttons {
  padding: 10px;
  flex-direction: row;

}

.name input {
  border: none;
}

.theideas input {
  overflow: auto;
  resize: none;
  display: block;
  padding: 8px;
  border: groove;
  width: 300px;

}

.theideas .buttons button {
  width: 60px;
  margin-right: 10px;
  background-color: #7fb349;
  border-radius: 15px;
  border-style: none;
}