* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.Footer {
    background-color: #7fb349;
    /* #A8FF78//#CEFF9D green//#7fb349//gray:#414042 */
    color: #414042;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.Footer a {
    color: #414042;
}

.Footer h4 {
    color: white;
    padding: 5px;
}